* {
  margin: 0;
}


/* header -------------------------------------------------- */

header {
  height: 120px;
  background-color: rgb(51, 149, 234);
  background-image: url(../img/pattern.png);
  background-position: center;
  position: relative;
}


.logo {
  width: 320px;
  height: 80px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  
}

/* /header--------------------------------------------- */



main {
  padding-left: 5px;
}



/* first section--------------------------------------------------- */

main > section > h1 {
  padding-top: 12px;
  font-size: 30px;
}

main > section > span {
  font-size: 15px;
}

.img {
  padding-top: 15px;
}

/* /first section--------------------------------------------------- */

/* second section -------------------------------------------------------- */

.first-paragraph {
  padding: 19px 0;

}

.first-paragraph > span {
  background-color: yellow;
}

ul {
  padding-bottom: 20px;
}

/* /second section -------------------------------------------------------- */


/* <!-- third section ------------------------------------- --> */
.table-cell, .table-cell-description {
  display: inline-block;
}
.table-cell {
  width: 20%;
}

.table-cell-description {
  width: 40%;
}
.table-head {
  height:20px;
  background-color: rgb(0, 119, 255);
  color: aliceblue;

}
.table-raw {
  width: 100%;

}
.table-raw.blue {
  background-color: rgb(0, 217, 255);
}
.table-raw.white {
  background-color:rgb(208, 255, 255) ;
}
.second-paragraph {
  padding: 20px 0;
}

.second-paragraph > span {
  background-color: yellow;
}
/* <!-- /third section ------------------------------------- --> */